{% extends 'layout.html' %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset id="" class="form-group mb-2">
            <legend class="border-bottom mb-2">Login</legend>
            <div class="form-group mb-1">
                {{ form.username.label(class="form=control-label") }}
                {% if form.username.errors %}
                    {{ form.username(class="form=control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form=control form-control-md") }}
                {% endif %}
            </div>
            <div class="form-group mb-1">
                {{ form.password.label(class="form=control-label") }}
                {% if form.password.errors %}
                    {{ form.password(class="form=control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form=control form-control-md") }}
                {% endif %}
            </div>
            <div class="form-check">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>
        </fieldset>
        <div class="form-group mb-1">
            {{ form.submit(class="btn btn-primary") }}
          <small class="text-muted ml-2">
            <a href="{{ url_for('users.reset_request') }}">Forgot Password?</a>
          </small>
        </div>
    </form>
</div>
{% endblock content %}
