{% extends 'report_layout.html' %}
{% block content %}
<!-- Table -->
<div class="content-section">
  <legend class="border-bottom mb-2">{{ item_name }}</legend>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Begin Count</th>
        <th scope="col">Purchases</th>
        <th scope="col">Sales</th>
        <th scope="col">Waste</th>
        <th scope="col">End Count</th>
        <th scope="col">Variance</th>
      </tr>
    </thead>
    <tbody>
      {% for c, p, s in result %}
          <tr>
            <td>{{ c.trans_date }} {{ c.count_time }}</td>
            <td>{{ c.previous_total }}</td>
            <td> + {{ p.purchase_total }}</td>
            <td> - {{ s.sales_total }}</td>
            <td> - {{ s.waste }}</td>
            <td> = {{ c.count_total }}</td>
            <td>{{ c.daily_variance }}</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
    <!-- Boxes
    <section class="p-3">
        <div class="container">
            <div class="row text-center g-4">
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                            </div>
                            <h3 class="card-title mb-3"><span class="text-warning">Average Sales</span></h3>
                            <p class="card-text">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-secondary text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                            </div>
                            <h3 class="card-title mb-3">Average Purchases</h3>
                            <p class="card-text">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                            </div>
                            <h3 class="card-title mb-3"><span class="text-warning">Average Waste</span></h3>
                            <p class="card-text">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                Iure, quas quidem possimus dolorum esse eligendi?
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-people"></i>
                            </div>
                            <h3 class="card-title mb-3"><span class="text-warning">Average Waste</span></h3>
                            <p class="card-text">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                Iure, quas quidem possimus dolorum esse eligendi?
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-people"></i>
                            </div>
                            <h3 class="card-title mb-3"><span class="text-warning">Average Waste</span></h3>
                            <p class="card-text">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                Iure, quas quidem possimus dolorum esse eligendi?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </section>

{% endblock content %}
