{% extends 'report_layout.html' %}
{% block content %}
<!-- Table -->
<main role="main" class="container bg-steel">
  <div class="row">
    <div class="col-lg-12 p-1 pt-4">
      <div class="content-section">
        <div class="table-responsive-sm">
          <legend class="mb-1">{{ item_name.itemname }}</legend>
          <table class="table table-sm table-hover table-borderedless">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Begin</th>
                <th scope="col">Purchases</th>
                <th scope="col">Sales</th>
                <th scope="col">Waste</th>
                <th scope="col">Theory</th>
                <th scope="col">Count</th>
                <th scope="col">Variance</th>
              </tr>
            </thead>
            <tbody>
              {% for c, s, w, p in result %}
                  <tr>
                    <td>{{ c.trans_date.strftime('%A-%m/%d') }}</td>
                    <td>{{ c.previous_total }}</td>
                    {% if p %}
                      <td> + {{ p }}</td>
                    {% else %}
                      <td> + 0</td>
                    {% endif %}
                    {% if s %}
                      <td> - {{ s }}</td>
                    {% else %}
                      <td> - 0</td>
                    {% endif %}
                    {% if s %}
                      <td> - {{ w }}</td>
                    {% else %}
                      <td> - 0</td>
                    {% endif %}
                    <td> = {{ c.theory }}</td>
                    <td> - {{ c.count_total }}</td>
                    <td> = {{ c.daily_variance }}</td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
    <!-- Boxes -->
  <div class="row">
    <div class="col-lg-3 p-1">
      <div class="content-section bg-primary">
        <legend class="text-white mb-1">Weekly Purchases</legend>
        <div class="card text-center text-dark bg-light">
          <div class="card-body">
            {% for p in purchase_weekly %}
              <h5 class="card-text">{{ p.total }}</h5>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 p-1">
      <div class="content-section bg-primary">
        <legend class="text-white mb-1">Weekly Sales</legend>
        <div class="card text-center text-dark bg-light">
          <div class="card-body">
            {% for p in sales_weekly %}
              <h5 class="card-text">{{ p.total }}</h5>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 p-1">
      <div class="content-section bg-primary">
        <legend class="text-white mb-1">Average On-Hand</legend>
        <div class="card text-center text-dark bg-light">
          <div class="card-body">
            {% for c in on_hand_weekly %}
              <h5 class="card-text">{{ "%.1f"|format(c.average) }}</h5>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 p-1">
      <div class="content-section bg-primary">
        <legend class="text-white mb-1">Days On-Hand</legend>
        <div class="card text-center text-dark bg-light">
          <div class="card-body">
            {% for s in sales_weekly %}
            {% if s.sales_avg and count_daily.count_total %}
                <h5 class="card-text">{{ "%.1f"|format(count_daily.count_total/s.sales_avg) }}</h5>
              {% else %}
                <h5 class="card-text">N/A</h5>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Chart -->
  <div class="row">
    <div class="col-lg-6 p-1">
      <div class="content-section">
      <div class="table-responsive-sm">
        <canvas id="barChart"></canvas>
        <script>
          var ctx = document.getElementById("barChart").getContext("2d");
          var barChart = new Chart(ctx, {
            type: "bar",
            data: {
              labels: {{ labels | safe }},
              datasets: [{
                  label: "Sales",
                  data: {{ day_sales | safe }},
                  borderColor: "#c45850",
                  backgroundColor: "#c45850",
                  borderWidth:2,
                  type: 'line',
                  fill: false,
                }, {
                  label: "On-Hand",
                  data: {{ values | safe }},
                  borderColor: "#3e95cd",
                  backgroundColor: "#7bb6dd",
                  borderWidth:2,
                  fill: false,
                }] 
            },
            options: {
              title: {
                display: true,
                text: "{{ item_name.itemname }}",
              }
            }
          });
        </script>
      </div>
      </div>
    </div>
  <!-- Chart2 -->
    <div class="col-lg-6 p-1">
      <div class="content-section">
        <div class="table-responsive-sm">
          <canvas id="barChart2"></canvas>
          <script>
            var ctx = document.getElementById("barChart2").getContext("2d");
            var barChart2 = new Chart(ctx, {
              type: "bar",
              data: {
                labels: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
                datasets: [{
                  label: "Daily Sales Average",
                  data: {{ values2 | safe }},
                  fill: false,
                  backgroundColor: [
                   'rgba(255, 99, 132, 0.6)',
                  ],
                  borderColor: [
                   'rgb(255, 99, 132)',
                  ],
                  borderWidth: 1
                }, {
                  label: "Average Sales/Day",
                  data: {{ values3 | safe }},
                  backgroundColor: 'rgba(0, 72, 186)',
                  borderColor: 'rgb(0, 72, 186)',
                  borderWidth: 1,
                  type: 'line',
                  fill: false,
                }, {
                  label: "Average Waste/Day",
                  data: {{ values4 | safe }},
                  backgroundColor: 'rgba(59, 122, 87)',
                  borderColor: 'rgb(59, 122, 87)',
                  borderWidth: 1,
                  type: 'line',
                  fill: false,
                }] 
              },
              options: {
              }
            });
          </script>
        </div>
      </div>
    </div>
  </div>
  <!-- weekly boxes
    <div class="col-lg-3 p-1">
      <div class="content-section bg-primary">
        <legend class="text-white mb-1">Average Sales per Day</legend>
        {% for d in daily_sales %}
          <div class="card text-center text-dark bg-light">
            <div class="card-body">
              <h5 class="card-text">{{ d.dow }} - {{ "%.1f"|format(d.average) }}</h5>
            </div>
          </div>
        {% endfor %}
      </div>
    </div> -->
  </div>
</div>
{% endblock content %}
