{% extends 'layout.html' %}
{% block content %}
  <div class="content-section">
    <legend class="border-bottom mb-2">{{ date_time.trans_date }} - {{ date_time.count_time }}</legend>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Previous Count</th>
      <th scope="col">Current On-Hand</th>
      <th scope="col">Theory On-Hand</th>
      <th scope="col">Daily Variance</th>
    </tr>
  </thead>
  <tbody>
    {% for item in ordered_items %}
      {% if item.trans_date == date_time.trans_date and item.count_time == date_time.count_time %}
        <tr>
          <td>{{ item.itemname }}</td>
          <td>{{ item.previous_total }}</td>
          <td>{{ item.count_total }}</td>
          <td>{{ item.theory }}</td>
          <td>{{ item.daily_variance }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
    </div>
{% endblock content %}
