{% extends 'layout.html' %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset id="" class="form-group mb-2">
            <legend class="border-bottom mb-2">{{ legend }}</legend>
            <div class="form-group mb-1">
                {{ form.itemname.label(class="form=control-label") }}
                {% if form.itemname.errors %}
                    {{ form.itemname(class="form=control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.itemname.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.itemname(class="form=control form-control-md") }}
                {% endif %}
            </div>
            <div class="form-group mb-1">
                {{ form.casepack.label(class="form=control-label") }}
                {% if form.casepack.errors %}
                    {{ form.casepack(class="form=control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.casepack.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                {{ form.casepack(class="form=control form-control-md") }}
                {% endif %}
            </div>
        </fieldset>
            <div class="form-group mb-1">
                {{ form.submit(class="btn btn-primary") }}
            </div>
    </form>
</div>
<!-- Count Section -->
<section id="items" class="bg-steel">
<div class="content-section">
  <legend class="border-bottom mb-2">Inventory Items - Select to edit</legend>
    {% for item in inv_items %}
      <div class="media-body">
          <a class="me-2" href="{{ url_for('counts.update_item', item_id=item.id) }}">{{ item.itemname }}</a>
          <small class="text-muted">{{ item.casepack }} per Case</small>
      </div>
    {% endfor %}
</div>
</section>
{% endblock content %}

