{% extends 'layout.html' %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset id="" class="form-group mb-2">
            <legend class="border-bottom mb-2">Enter Purchases</legend>
            <div class="form-group mb-1">
                {{ form.transdate.label(class="form=control-label") }}
                {% if form.transdate.errors %}
                    {{ form.transdate(class="form=control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.transdate.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.transdate(class="form=control form-control-md") }}
                {% endif %}
            </div>
            <div class="form-group mb-1">
                {{ form.itemname.label(class="form=control-label") }}
                {% if form.itemname.errors %}
                    {{ form.itemname(class="form=control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.itemname.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.itemname(class="form=control form-control-md") }}
                {% endif %}
            </div>
            <div class="form-group mb-1">
                {{ form.casecount.label(class="form=control-label") }}
                {% if form.casecount.errors %}
                    {{ form.casecount(class="form=control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.casecount.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.casecount(class="form=control form-control-md") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.eachcount.label(class="form=control-label") }}
                {% if form.eachcount.errors %}
                {{ form.eachcount(class="form=control form-control-md is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.eachcount.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.eachcount(class="form=control form-control-md") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group mb-1">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </div>
<!-- Count Section -->
<section id="counts" class="p-1 bg-steel">
    {% for group in ordered_purchases.items %}
        <div class="content-section">
          <legend class="border-bottom mb-6">{{ group.trans_date.strftime('%A-%m/%d') }}</legend>
          {% for item in purchase_items%}
            {% if item.trans_date == group.trans_date  %}
              <div class="media-body">
                  <a class="me-2" href="{{ url_for('counts.update_purchases', purchase_id=item.id) }}">{{ item.itemname }}</a>
                  <small class="text-muted"> Total Purchased  -  {{ item.purchase_total }}</small>
              </div>
            {% endif %}
          {% endfor %}
        </div>
    {% endfor %}
</section>
<!-- Page Numbering -->
{% for page_num in ordered_purchases.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
  {%if ordered_purchases.page == page_num %}
      <a class="btn btn-info mb-4" href="{{ url_for('counts.purchases', page=page_num) }}">{{ page_num }}</a>
    {% else %}
      <a class="btn btn-outline-info mb-4" href="{{ url_for('counts.purchases', page=page_num) }}">{{ page_num }}</a>
    {% endif %}
  {% else %}
    ...
  {% endif %}
{% endfor %}
{% endblock content %}
