{% extends 'layout.html' %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset id="" class="form-group">
          <legend class="border-bottom mb-4">{{ legend }}{{ item.itemname }}</legend>
            <div class="form-group">
                {{ form.itemname.label(class="form=control-label") }}
                {% if form.itemname.errors %}
                    {{ form.itemname(class="form=control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.itemname.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.itemname(class="form=control form-control-md") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.casepack.label(class="form=control-label") }}
                {% if form.casepack.errors %}
                    {{ form.casepack(class="form=control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.casepack.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                {{ form.casepack(class="form=control form-control-md") }}
                {% endif %}
            </div>
        </fieldset>
            <!-- Button trigger modal -->
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
                <button type="button" class="btn btn-danger btn-sm m-2" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
            </div>
    </form>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">86 ITEM</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        <form action="{{ url_for('counts.delete_item', item_id=item.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
