<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  {% if title %}
  <title>DailyStockCount.com - {{ title }}</title>
  {% else %}
  <title>DailyStockCount.com</title>
  {% endif %}
  <!-- Chartjs CDNJS  -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js"
    integrity="sha512-asxKqQghC1oBShyhiBwA+YgotaSYKxGP1rcSYTDrB0U6DxwlJjU59B67U8+5/++uFjcuVM8Hh5cokLjZlhm3Vg=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
</head>

<body>
  <!-- Navbar -->
  <header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand me-4" href="/">DailyStockCount.com</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
          aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
          <div class="navbar-nav ms-auto">
            {% if current_user.is_authenticated %}
            <a class="nav-item nav-link" href="{{ url_for('counts.count') }}">Count</a>
            <a class="nav-item nav-link" href="{{ url_for('counts.purchases') }}">Purchases</a>
            <a class="nav-item nav-link" href="{{ url_for('counts.sales') }}">Sales</a>
            <a class="nav-item nav-link" href="{{ url_for('counts.new_item') }}">Items</a>
            <a class="nav-item nav-link" href="{{ url_for('main.report') }}">Reports</a>
            <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a>
            {% else %}
            <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
            <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Info</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>
  <!-- Forms Section -->
  <main role="main" class="container">
    <div class="row">
      <div class="col-sm-12">
        <div>
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </main>

  <!-- Footer -->
  <footer class="p-1 bg-steel text-white text-center position-relative">
    <div class="container">
      <p class="small">Copyright &copy; 2021 DailyStockCount.com</p>

      <a href="#" class="position-absolute bottom-0 end-0 p-5">
        <i class="bi bi-arrow-up-circle h1"></i>
      </a>
    </div>
  </footer>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
</body>

</html>
